<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<title>CmdLines</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    </head>

    <body style="background-color: black;">
		<textarea id="taTest" rows="10" style="background-color: black;font-family:verdana;font-size:12px;color: white;border-style:none;"></textarea>
        <div id="testdiv"></div>
    </body>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <script>
		let sWidth = $(window).width();
		let sHeight = $(window).height();
		$("#taTest").css("width", sWidth);
		$("#taTest").css("height", sHeight);

		let init_flag = false;
		let dataArray; 
		$().ready(function () {
			$.ajax({
				url:'getCmdLines',
				type:"GET",
				dataType:"json",
				success: function (data) {
					dataArray = data[0]['data'];
					init_flag = true;
				}
			})
		});

		var n = 0;
		setInterval(function() {
			if(init_flag && n < dataArray.length) {
				let parent = document.getElementById("taTest");
				let child = document.createTextNode(dataArray[n] + "\n");
				parent.appendChild(child);
				let scrollTop = $("#taTest")[0].scrollHeight;
				$("#taTest").scrollTop(scrollTop);
				n++;
				//console.log(n + " " + dataArray.length);
			} else {
				n = 0;
			}
		}, 20);
    </script>
</html>